<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2.5.xsd"
         version="2.5">

    <!--
    将某个web资源设置为网站首页；
    将servlet程序映射到某个url地址上；
    为web应用配置监听器；
    为web应用配置过滤器；
    配置web应用上下文参数、配置Session的参数；
    配置spring、springMVC等框架
    -->


    <!--spring 配置， 加载 applicationContext 的 bean 配置，否则在程序中没法找到-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- resources 文件夹的路径就是 classpath -->
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- end -->

    <!-- 监听程序的状态 -->
    <listener>
        <listener-class>com.mvcoder.springmvc.listener.AppContextListener</listener-class>
    </listener>
    <listener>
    <listener-class>com.mvcoder.springmvc.listener.AppHttpSessionListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.mvcoder.springmvc.listener.AppHttpRequestListener</listener-class>
    </listener>
    

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>
